.navbar-brand {
    color: white;
    transition: 0.3s;
    font-size: 25px;
}

.navbar-brand:hover {
    color: bisque;
}

body {
    background-color: rgb(114, 96, 96);
}

main {
    margin: 10px;
    color: white;
    background-color: rgb(136, 136, 136);
}

#profil-tab {
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    justify-content: space-evenly;
    text-align: justify;
}

.profil-kiri {
    width: 30%;
    height: auto;
    margin: auto;
    text-align: center;
}

.profil-tengah {
    width: 30%;
    height: auto;
    margin: 10px;
}

.profil-kanan {
    width: 40%;
    height: auto;
    margin: 10px;
}

.profil-kiri > img {
    width: 80%;
    height: auto;
    border-radius: 25px;
}

#kodingan {
    width: auto;
    height: 80px;
}

#kodingan-tab {
    padding-bottom: 20px;
}

.container-kodingan {
    padding-top: 10px;
    padding: 10px;
}

.col > a {
    text-decoration: none;
}

.col {
    height: 100%;
    transition: 0.3s;
}

.col:hover {
    transform: scale(1.05);
}

.card > img {
    width: 60%;
    margin: auto;
}

.spacing {
    width: auto;
    height: 65px;
}

.footer-tab {
    padding: 20px;
    text-align: center;
}

::-webkit-scrollbar {
    width: 5px;
}
  
::-webkit-scrollbar-track {
    background-color: rgb(136, 136, 136);
}
  
::-webkit-scrollbar-thumb {
    background-color: bisque;
}